 * {
            margin: 0;
            padding: 0;
        }

        nav {
            display: flex;


        }

        .box1 {
            margin-top: 23px;
            margin-left: 20px;
            border-right: 3px solid rgba(128, 128, 128, 0.451);
        }

        .boxes {
            margin-top: 28px;
            margin-left: 20px;
            border-right: 3px solid rgba(128, 128, 128, 0.451);
        }

        .box2 {
            margin-left: 400px;
            margin-top: 25px;
        }

        .box3 {
            font-weight: bolder;
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 32px;
        }

        .box4 {
            margin-top: 28px;
            margin-left: 20px;
        }

        .box5 {
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: rgb(195, 29, 29);
            height: 50px;
            width: 950px;
            border-radius: 30px 0px 0px;

            font-family: Arial, Helvetica, sans-serif;
            margin-left: 510px;
        }

        .box6 {
            position: absolute;
            top: 32%;
            left: 1.5%;
            font-weight: bolder;
            font-size: 40px;
            color: white;

        }

        .box7 {
            position: absolute;
            top: 31.2%;
            height: 550px;
            width: 430px;
            background-color: rgb(180, 9, 9);
            color: rgb(180, 9, 9);
        }

        .box8 {
            position: absolute;
            top: 110%;
            left: 1.5%;
            color: white;
            font-weight: bolder;
            font-size: 35px;
        }

        .box9 {
            position: absolute;
            top: 118%;
            left: 1.5%;
            color: white;
            font-weight: bolder;
            font-size: 20px;
        }

        h1 {
            font-size: 40px;
        }

        .container {
            position: absolute;
            top: 28%;
            right: 0%;
            margin: 20px;
            height: 400px;
            width: 300px;
            padding: 45px;
            background-color: white;
        }

        input[type=text],
        input[type=password] {
            width: 280px;

            padding: 35px 20px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .btn:hover {
            opacity: 1;
        }

        label {
            font-size: 20px;
        }

        .box10 {
            background-color: white;
            width: 1180px;
            height: 100px;
            margin: auto;
            margin-top: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.612), 0 6px 20px 0 rgba(0, 0, 0, 0.623);
        }

        .box11 {
            position: absolute;
            top: 135%;
            left: 5%;
        }
        .box12{
            margin-left: 600px;
            background-color: white;
            border: 1px solid red;
            margin-top: 40px;
            height: 45px;
            width: 120px;
           
        }
        .box13{
            color: red;
            font-weight: bolder;
        }
        .box12:hover{
            background-color: red;
        }
        .box13:hover{
            color: white;
        }
        .box14{
            background-color: rgb(184, 18, 18);
            height: 45px;
            width: 210px;
           position: absolute;
           top: 135%;
           right: 10%;
           
        }
        a{
            text-decoration: none;
            color: white;
            margin-left: 10px;
        }
        .box14:hover{
            background-color: rgb(117, 22, 22);
        }
        .box15{
            font-weight: bolder;
            font-size: 40px;
            color: red;
            margin-left: 20px;
            font-family: initial;

            margin-top: 30px;
        }  .box16{
            font-weight: bolder;
            background-color: rgb(207, 12, 12);
            font-size: 40px;
            color: white;
            margin-left: 10px;
            margin-top: 30px;
        }  .box17{
            font-weight: bolder;
            background-color: rgb(207, 12, 12);
            font-size: 40px;
            color: white;
            margin-left: 800px;
            margin-top: 30px;
        }
        .box18{
            margin: 15px 15px;
        }
        .box20{
            margin: 15px 15px; 
        }
        .box19{
            margin: 15px 15px;
        }
        .box21{
            margin: 15px 15px;
        }
        .box22{
            margin: 25px 25px;
        }
        .box23{
            margin-top: 10px;
            text-align: center;
            color: red;
            font-weight: bolder;
            font-size: 16px;
        }
        .box24{
            border: 2px solid red;
            border-radius: 5%;
            margin-top: 15px;
        }
        .box25{
            margin-left:10px ;
            height: 50px;
            width: 250px;
            margin-top: 15px;
            color: white;
            background-color: red;
        }
        .sid{
            margin-top: 50px;
        }
        .box26{
            font-size: 43px;
            font-weight: bolder;
            margin-left: 400px;
            margin-top: 120px;
        }
        .box27{
            font-size: 43px;
            font-weight: bolder;
            color: red;
            margin-top: 120px;
        }
        .box28{
            width: 250px;
            height: 6px;
            margin-top: 30px;
            border: 1px solid red;
            background-color:red ;
            margin-left:550px ;
        }
        .grid-container {
            margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
gap: 30px;
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 21px;
  text-align: center;
  font-weight: bolder;
  border: 3px solid rgb(215, 205, 205);
  box-shadow:10px 5px 5px rgb(198, 190, 190);

}
.box29{
    background-color: rgb(167, 12, 12);
    color: white;
    border: 2px solid  rgb(167, 12, 12);
}
 .grid-item:hover {
  transform: scale(1.1); 
}  
.box30{
    font-weight: bolder;
    font-size: xxx-large;
    margin: 30px 200px;
}
.box31{
    margin: 20px 380px;
}  
.box32{
    width: 250px;
            height: 6px;
            margin-top: 30px;
            border: 1px solid red;
            background-color:red ;
            margin-left:500px ;
}  
.grid-container1 {
    margin: 20px 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
}
.grid-item1 {
    border: 3px solid rgb(215, 205, 205);
  box-shadow:10px 5px 5px rgb(198, 190, 190);
  text-align: center;
}
.grid-item1:hover {
  transform: scale(1.1); 
}
.box34{
background-color: red;
margin-left: 250px;
width: 130px;
height: 30px;
}
.box34:hover{
    background-color: rgb(107, 7, 7);
}
.box35{
    margin-top: 30px;
    font-weight: bolder;
    font-size: xxx-large;
    margin-left: 400px;
}
.am{
    color: red;
    margin-left: 0px;
}
.grid-container2 {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto auto ;
  padding: 10px;
}
.grid-item2{
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: 25px;
  background-color: rgb(218, 34, 34);
  text-align: center;
}
.grid-item2:hover{
    transform: scale(1.1);
}
.box36{
    margin: 25px 270px ;
    font-weight: bolder;
    font-size: xxx-large;
}
.box37{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.box38{
margin: 30px 30px;
}
.box39{
    margin-top: 50px;
}
.box40{
    margin: 30px 50px;
}
.box41{
    font-size: 50px;
    margin-top: 2px;
    font-weight: bolder;
}.box42{
    font-size: 50px;
    
    font-weight: bolder;
    color: red;
}
.box43{
    position: absolute;
    top: 630%;
    left: 2%;
}.box44{
    position: absolute;
    top: 630%;
    left: 25%;
}.box45{
    position: absolute;
    top: 650%;
    left: 2%;
}.box46{
    position: absolute;
    top: 650%;
    left: 25%;
}
.grid-container3 {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto;
margin: 40px 25px;
}
.grid-item3{
  border: 2px dashed red;

  text-align: center;
}
.grid-item3:hover{
border-radius: 15px;
}
.box47{
    font-size: 45px;
    font-weight: bolder;
    margin: 0px 500px;
    color: red;
}
.box48{
            border: 3px solid black;
            background-color: rgba(35, 53, 152, 0.46);
            border-radius: 5%;
            margin-left: 35px;
            margin-top: 40px;
            height: 400px;
            width: 400px;
        }

        .ram {
            max-width: 100%;
            height: 40%;
            border-radius: 38%;
            margin-left: 13px;
            margin-top: 10px;
        } 
        .box49{
            color: red;
            margin: 0px 20px;
        }
        .box49:hover{
            transform: scale(1.2);
            background-color: blue;
        }
        div.box51{
            position: absolute;
            top: 4800px;
            left: 300px;
        }
        